header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  background-color: white;
}

.logo img {
  max-width: 100%;
}

.icon {
  display: none;
  padding: 0;
}

@media (max-width: 992px) {
  header {
    flex-wrap: wrap;
  }

  header .logo {
    margin: 0 50px;
  }

  .icon {
    display: block;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .basket {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
