:root {
  --green-main: #495e57;
  --green-accent: #48742c;
  --yellow: #f4ce14;
  --yellow-accent: #dab811;
  --highlight-color: #ff8f33;
  --grey: #edefee;
  --black: #141414;
}

* {
  font-family: "Markazi Text", "Karla", serif;
  color: var(--black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-family: "Markazi Text", serif;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-family: "Markazi Text", serif;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-family: "Karla", serif;
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-family: "Karla", serif;
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}

label,
input,
select,
textarea,
p,
span {
  font-family: "Karla";
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-family: "Karla";
  font-weight: 800;
  transition: all 300ms ease-in-out;
}

button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 25px 50px;
}

@media (max-width: 992px) {
  section {
    padding: 30px;
  }
}
