section.menu ul.dish-types {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-inline-start: 0;
}

section.menu ul.dish-types li {
  background-color: var(--grey);
  color: var(--green-main);
  padding: 10px 12px;
  border-radius: 25px;
  text-transform: capitalize;
  font-family: "Karla", serif;
  font-weight: 800;
  transition: all 300ms ease-in-out;
}

section.menu ul.dish-types li:hover {
  background-color: var(--green-main);
  color: var(--grey);
  cursor: pointer;
}

section.menu .dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 30px 0;
  list-style: none;
}

section.menu .dishes .dish {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section.menu .dishes .dish .dish-container {
  background-color: var(--grey);
  position: relative;
  padding: 30px;
  border-radius: 0 0 25px 25px;
  flex-grow: 1;
  order: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section.menu .dishes .dish .dish-container .price {
  color: var(--highlight-color);
  font-weight: 600;
}

section.menu .dishes .dish .image-container {
  order: 1;
  position: relative;
  top: 15px;
  display: block;
  max-height: 300px;
}

section.menu .dishes .dish img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  box-shadow: none;
}

/* Adjustments for screens less than 992px */
@media (max-width: 992px) {
  section.menu .dishes {
    grid-template-columns: repeat(2, 1fr);
  }

  section.menu .dishes .dish img {
    object-fit: cover;
  }
  section.menu .dishes .dish .image-container {
    flex: 0 0 150px;
  }

  section.menu .dishes .dish .dish-container {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 767px) {
  section.menu ul.dish-types {
    flex-wrap: wrap;
  }

  section.menu .dishes {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;
  }

  section.menu .dishes .dish {
    flex-direction: row;
    padding: 15px 0;
  }

  section.menu .dishes .dish img {
    height: 300px;
    border-radius: 25px 0 0 25px;
  }

  section.menu .dishes .dish .image-container {
    top: 0;
  }

  section.menu .dishes .dish .dish-container {
    border-radius: 0 25px 25px 0;
  }
}
