.testimonials_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 30px;
}

@media (max-width: 767px) {
  .testimonials_container {
    grid-template-columns: auto;
  }
}
