section {
  padding: 0 50px;
}

section.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

img {
  max-width: 100%;
  height: auto;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.testimonials_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

@media (max-width: 767px) {
  .testimonials_container {
    grid-template-columns: auto;
  }
}
